<mat-card *ngIf="assignmentTransmis">
    <mat-card-title>{{ assignmentTransmis.nom }}</mat-card-title>
    <mat-card-content>
      <p>Date de rendu : {{ assignmentTransmis.dateDeRendu | date }}</p>
      <mat-checkbox
      [(ngModel)]="assignmentTransmis.rendu"
      (change)="onCheckboxChange()"
      >
      Rendu
      </mat-checkbox>

       <p *ngIf="assignmentTransmis.rendu && assignmentTransmis.note !== undefined">
          Note : <strong>{{ assignmentTransmis.note }}/20</strong>
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="onClickEdit()" [disabled]="!isAdmin()">Edit</button>
      <button mat-stroked-button color="warn" (click)="onDelete()" [disabled]="!isAdmin()">Delete</button>
      <p *ngIf="!isAdmin()" class="error-message">Vous n'avez pas les droits nécessaires pour modifier ou supprimer cet assignment.</p>
    </mat-card-actions>
  </mat-card>