<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mon Application</span>
  <span class="spacer"></span>
   <button mat-button *ngIf="isLogged()" (click)="genererDonneesDeTest()">
    <mat-icon>storage</mat-icon>
    Peupler BD
  </button>
  <button mat-button *ngIf="isLogged()" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Déconnexion
  </button>


</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon>
        Accueil
      </a>
      <a mat-list-item routerLink="/assignments">
        <mat-icon>assignment</mat-icon>
        Assignments
      </a>
      
      <a mat-list-item routerLink="/login" *ngIf="!isLogged()">
        <mat-icon>login</mat-icon>
        Connexion
      </a>
      
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <!-- Contenu principal de l'application -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



<router-outlet></router-outlet>
<app-assignments></app-assignments>
<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button primary>Primary</button>
    <button mat-button accent>Accent</button>
    <button mat-button warn>Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section class="second-section">
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button primary>Primary</button>
    <button mat-raised-button accent>Accent</button>
    <button mat-raised-button warn>Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section class="third-section">
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button primary>Primary</button>
    <button mat-stroked-button accent>Accent</button>
    <button mat-stroked-button warn>Warn</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section class="second-section">
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button mat-flat-button primary>Primary</button>
    <button mat-flat-button accent>Accent</button>
    <button mat-flat-button warn>Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container first-line">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button aria-label="Bouton d'accueil">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button aria-label="J'aime">
        <mat-icon>favorite</mat-icon>
      </button>
      
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label ">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container second-line ">
      <div class="example-button-container ">
        <button class="delete-button" mat-fab aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button class="bookmark-button" mat-fab warn aria-label="Example icon button with a home icon">
          <mat-icon>bookmark</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button class="home-button" mat-fab accent aria-label="Example icon button with a accent icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button class="favorite-button"mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button class="delete-button" mat-mini-fab aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button  class="bookmark-button" mat-mini-fab primary aria-label="Example icon button with a menu +1">
          <mat-icon>add</mat-icon>
          <span class="increment-badge">1</span>
        </button>
      </div>
      <div class="example-button-container">
        <button class="home-button" mat-mini-fab accent aria-label="Example icon button with a menu +1">
          <mat-icon> filter_list</mat-icon> 
        </button>
      </div>
      <div class="example-button-container">
        <button class="favorite-button" mat-mini-fab disabled aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="example-label">Extended Fab</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab extended>
          <mat-icon>favorite</mat-icon>
          Basic
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab extended disabled>
          <mat-icon>favorite</mat-icon>
          Disabled
        </button>
      </div>
      <div class="example-button-container">
        <a mat-fab extended routerLink=".">
          <mat-icon>favorite</mat-icon>
          Link
        </a>
      </div>
    </div>
  </div>
</section>



